@import "Utilities.scss";

BattleBar {
    background-image: url("ui/BattleBar.png");
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
    width: 100%;




    .FireContainer {
        margin: 0 auto;
        margin-top: 0.8%;
        width: 235px;
        height: 122px;
    }

    .FireButton {
        padding: 5px;
        background-image: url("ui/firebutton.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        //Essentially fills the container with the image when changing screen sizes, thanks Alex <3
        background-size: cover;

        &:hover {
            filter: brightness(150%);
        }
    }

}
