// Gamebar is a C# class so it doesn't require the dot at the start

GameBar {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: lightblue;

    // .Header is a class that is created in GameBar.html, this means it should be referenced with a . at the start
    .Header {
        font-size: 200px;
        color: green;
    }

    // Label is a C# class so it doesn't need the . at the start
    label {
        color:red;
    }

    // Custom class created in HTML so needs dot .
    .CustomButton{

    }
}
