.container {
    max-width: 100%;
    margin: 0 auto;
    /* This overflow removes the padding added by h1,h2 */
    padding: 0px 10px;

}

.grid {
    
    /* fr is fractions, the first column would take up 2fr of the entire space, the second one would take 1fr */
    /* The repeat will add 1fr twice, denoted by the 2 at the start */

    justify-content: left;
    align-items: center;
}

.UIOutline {
    color: green;
    padding: 10px;
    background-color: aqua;
    border: 5px solid red;
    border-radius: 5px;
    text-align: center;
    
}

.parentSpaceMaker > * {
    
    margin: 30px 0;
    
}

.spacemaker {
    padding: 10px;
}

.debugger {
    background-color: red;
}